body{
    text-align: center;
<<<<<<< HEAD
    color: blueviolet;
=======
    color: Red;
>>>>>>> cabecera
    font-family: 'Courier New', Courier, monospace
}

#cabecera{
    background-color: darkblue;
    font-size: 23px;
}